/packages/
.vs/
bin/
obj/
TestResults/
Benchmark.*
BenchmarkDotNet.*
*~
*.user
*.userprefs
*.suo
/test/stimeout/Release
/test/stimeout/stimeout/Release
/test/stimeout/stimeout/x64/Release
/test/stimeout/x64/Release
